In [1]:
print(123)

123

In [2]:
print(1 + 2 + 4 + 8 + 16)

31

In [3]:
print('The meaning of life is', 42)

The meaning of life is 42

In [4]:
x = 0.33333333

In [5]:
print(x)

0.33333333

In [6]:
x

0.33333333

In [7]:
2 + 2

4

In [8]:
2 + 2

4

In [9]:
 2 + 2

4

In [10]:
x = 17

In [11]:
print(x)

17

In [12]:
x = 3

In [13]:
print(x)

3

In [14]:
x = 17

In [15]:
y = x * 13

In [16]:
print(y)

221

In [17]:
x = 4 # x is set to the integer 4

In [18]:
3 * x

12

In [19]:
x = 7.1 # x now set to the floating point number 7.1

In [20]:
3*x

21.299999999999997

In [21]:
a = True

In [22]:
b = False

In [23]:
x = -7

In [24]:
y = 123

In [25]:
z = 123.45

In [26]:
x = 3 + 4j

In [27]:
y = 1.2-5.8j

In [28]:
r1 = 'ala'

In [29]:
r2 = "Arg"

In [30]:
text = "It's a line with a apostrope"

In [31]:
text = """Python also allows multi-line strings, which start and end with a triple single quote or a triple double quote."""

In [32]:
z  = None

In [33]:
print(type(x))

<class 'complex'>

In [34]:
print(type(z))

<class 'NoneType'>

In [35]:
13 + 5

18

In [36]:
13.0 + 5

18.0

In [37]:
13 - 5

8

In [38]:
13 - 5.0

8.0

In [39]:
13 / 5

2.6

In [40]:
5 * 2.6

13.0

In [41]:
13 // 5

2

In [42]:
13 // 5.0

2.0

In [43]:
13 * 2 + 5

31

In [44]:
(13 * 2) + 5

31

In [45]:
(13 * 2) + 5

31

In [46]:
13 * (2 + 5)

91

In [47]:
text = 'hello world'

In [48]:
text[1]

'e'

In [49]:
text[5]

' '

In [50]:
text[1:3]

'el'

In [51]:
text[1:]

'ello world'

In [52]:
text[1:-1]

'ello worl'

In [54]:
text[:-1]

'hello worl'

In [55]:
text = 'H' + text[1:]

In [57]:
text

'Hello world'

In [58]:
'wor' in text

True

In [59]:
'war' in text

False

In [60]:
'wor' not in text

False

In [61]:
'war' not in text

True

In [62]:
text.index('wor')

6

In [63]:
text.find('wor')

6

In [64]:
text.find('war')

-1

In [65]:
text.index('l')

2

In [66]:
text.rindex('l')

9

In [67]:
text.find("l")

2

In [68]:
text.rfind('l')

9

In [69]:
line = ' hello world '

In [70]:
line.strip()

'hello world'

In [71]:
line.lstrip()

'hello world '

In [72]:
line.rstrip()

' hello world'

In [73]:
line.split() # ['hello', 'world']

['hello', 'world']

In [74]:
line.split('wor')

[' hello ', 'ld ']

In [75]:
myList = ['Homer', 'Marge', 'Maude', 'Ned']

In [76]:
longText = 'Homer, Marge, Maude, Ned'

In [79]:
cities = ['London', 'Paris', 'Berlin']

In [80]:
connector = '->'

In [81]:
connector.join(cities)

'London->Paris->Berlin'

In [82]:
sequence = ['G', 'C', 'A', 'T']

In [83]:
seq = "".join(sequence)

In [84]:
seq = sequence[0] + sequence[1] + sequence[2] + sequence[3]

In [85]:
seq

'GCAT'

In [86]:
x = 12

In [87]:
y = 5

In [89]:
text = "I have " + str(x) + " apples and " + str(y) + " organes."

In [90]:
text = "I have %d apples and %d oranges." % (x, y)

In [91]:
name = 'Barry'

In [92]:
weight = 82.173

In [93]:
text = "The weight of %s is %f kg" % (name, weight)

In [94]:
text = "The weight of %s is %.1f kg" % (name, weight)

In [95]:
text

'The weight of Barry is 82.2 kg'

In [96]:
hours = 12

In [97]:
minutes = 5

In [98]:
seconds = 43

In [99]:
t = "%02d:%02d:%02d" % (hours, minutes, seconds)

In [100]:
t

'12:05:43'

In [101]:
"My name is %s" % name

'My name is Barry'

In [102]:
x = ()

In [103]:
x = ("Ala", )

In [104]:
x = (123, 54, 92, 54)

In [105]:
x = (2, 2, 'banana', False, ('a', 'b'))

In [106]:
x = 1.2

In [107]:
y = -0.3

In [108]:
z = 0.9

In [109]:
t = (x, y, z)

In [110]:
t = (123, 54)

In [111]:
x = list(t)

In [112]:
x

[123, 54]

In [113]:
w = tuple(x)

In [114]:
w

(123, 54)

In [115]:
x = set()

In [116]:
listData = [123, 54, 92, 54]
x = set(listData)

In [117]:
x

{54, 92, 123}

In [119]:
x = set([1, 4, 9, 16, 25])

In [120]:
x = set(("Ala"))

In [121]:
x = set(("Ala",))

In [122]:
x = set(["Ala"])

In [123]:
x = {}

In [124]:
x = {"Ala": 71.07}

In [125]:
x

{'Ala': 71.07}

In [126]:
x = {"Ala": 71.07, "Arg": 156.18}

In [127]:
t = (123, 54, 92, 87, 33)

In [128]:
x = [123, 54, 92, 87, 33]

In [129]:
t[0]

123

In [130]:
x[2]

92

In [131]:
t[-1]

33

In [132]:
x[-3]

92

In [133]:
t[1:3]

(54, 92)

In [134]:
t[1:]

(54, 92, 87, 33)

In [135]:
x[1:-1]

[54, 92, 87]

In [136]:
x[:-1]

[123, 54, 92, 87]

In [137]:
x[:]

[123, 54, 92, 87, 33]

In [138]:
92 in t

True

In [139]:
93 in x

False

In [140]:
92 not in t # False

False

In [141]:
93 not in x

True

In [142]:
y = [3, 11, 7, 3]

In [143]:
y.count(3)

2

In [144]:
x.index(87)

3

In [145]:
len(t)

5

In [146]:
len(x)

5

In [147]:
x[1] = 55

In [148]:
x.append(17)

In [149]:
x

[123, 55, 92, 87, 33, 17]

In [150]:
y = [1, 2]

In [151]:
y.extend(x)

In [152]:
y

[1, 2, 123, 55, 92, 87, 33, 17]

In [153]:
x.insert(1, 99)

In [154]:
x.remove(92)

In [156]:
del x[4]

In [157]:
y = x.pop(2)

In [158]:
x[1:3] = [19, 21, 5] # x now

In [159]:
x.reverse() #

In [160]:
x

[17, 5, 21, 19, 123]

In [161]:
x.sort()

In [162]:
x

[5, 17, 19, 21, 123]

In [163]:
x = [123, 54, 92, 87, 33]

In [164]:
y = sorted(x)

In [165]:
t = (123, 54, 92, 87, 33)

In [166]:
y = sorted(t)

In [169]:
s = {123, 54, 92}

In [170]:
x = tuple(s)

In [171]:
x = list(s)

In [172]:
54 in s

True

In [173]:
55 in s

False

In [174]:
54 not in s

False

In [175]:
55 not in s

True

In [177]:
len(s)

3

In [178]:
s.add(77)

In [179]:
s.add(123)

In [180]:
s.remove(54)

In [181]:
y = s.pop()

In [184]:
d = {'Ala':71.07, 'Arg': 156.18}

In [185]:
x = d['Ala']

In [186]:
x = d.get("Ala")

In [187]:
x

71.07

In [188]:
x = d.get('Gly')

In [189]:
x

In [190]:
x = d.get('Ala', 57.05)

In [191]:
x = d.setdefault('Ala', 57.05) # 71.07

In [193]:
x = d.setdefault("Gly", 57.05) # 57.05

In [194]:
'Ala' in d

True

In [195]:
'Thr' in d

False

In [198]:
len(d)

3

In [199]:
d['Ala'] = 71.04

In [200]:
d

{'Ala': 71.04, 'Arg': 156.18, 'Gly': 57.05}

In [201]:
d['Ser'] = 87.07

In [202]:
d

{'Ala': 71.04, 'Arg': 156.18, 'Gly': 57.05, 'Ser': 87.07}

In [203]:
del d['Ala']

In [204]:
d

{'Arg': 156.18, 'Gly': 57.05, 'Ser': 87.07}

In [205]:
x = d.keys()

In [206]:
x = d.values()

In [207]:
x = d.items()

In [208]:
import math

In [209]:
print(math.pi, math.e)

3.141592653589793 2.718281828459045

In [210]:
import math as m
print(m.pi, m.e)

3.141592653589793 2.718281828459045

In [211]:
from math import pi, e
print(pi, e)

3.141592653589793 2.718281828459045

In [212]:
from PIL import Image

In [213]:
x = 5

if x > 0:
    print("Value is positive")
elif x < 0:
    print("Value is negative")
else:
    print("Value is zero")

Value is positive

In [214]:
x = [123, 54, 92, 87, 33]

In [215]:
y = x[:]

In [216]:
y == x

True

In [217]:
y is x

False

In [218]:
z = 0 and 3

In [219]:
z

0

In [220]:
z = 1 and 2

In [221]:
z = 5 and 0

In [222]:
z = x and y

In [223]:
[] and 5

[]

In [224]:
3 and 5

5

In [225]:
3 and ()

()

In [226]:
x = 3 and 5

In [227]:
y = bool(x)

In [228]:
y = bool(3 and 5)

In [229]:
if x:
    text = "Yes"
else:
    text = "No"

In [230]:
text = x and "Yes" or "No"

In [231]:
text = x and "Yes" or "No"

In [232]:
x = [256, 128]

In [233]:
x = [123, 54, 92, 87, 33]

In [234]:
if len(x) > 10:
    x.append(999)
elif len(x) > 3:
    x.append(888)
else:
    x.append(777)

In [235]:
x

[123, 54, 92, 87, 33, 888]

In [236]:
text = x and "Yes" or "No"

In [237]:
text = "Yes" if x else "No"

In [238]:
values = [10, -5, 3, -1, 7]

In [239]:
for v in values:
    print(v)

10
-5
3
-1
7

In [240]:
total = 0

In [241]:
for v in values:
    total = total + v

In [242]:
value = 1

In [243]:
while value < 32:
    value *= 2

In [244]:
values = [10, -5, 3, -1, 7]

In [245]:
total = 0

In [246]:
for v in values:
    if v < 0:
        continue # Skip the rest of the block for this v
    total += v

In [247]:
v

7

In [248]:
total = 0
for v in values:
    if v >= 0:
        total += v

In [250]:
total

20

In [251]:
total = 0
for v in values:
    if v == 3:
        break
    total += v

In [254]:
someList = [4, 6, 2, 3, 4, 5, 6]

for x in someList:
    if 5 < x < 10:
        foundInRange = True
        break
    else:
        foundInRange = False
    print(foundInRange)

False

In [255]:
vec1 = (4, 7, 0)

In [256]:
vec2 = (1, 3, 5)

In [257]:
s = vec1[0]*vec2[0] + vec1[1]*vec2[1] + vec1[2]*vec2[2]

In [258]:
s

25

In [259]:
s = 0
for index in [0, 1, 2]:
    s += vec1[index] * vec2[index]

In [260]:
s

25

In [261]:
range(7)

range(0, 7)

In [262]:
range(2, 7)

range(2, 7)

In [263]:
range(2, 13, 3)

range(2, 13, 3)

In [264]:
range(7, 2, -2)

range(7, 2, -2)

In [265]:
vec1

(4, 7, 0)

In [266]:
vec2

(1, 3, 5)

In [267]:
s = 0
for i in range(len(vec1)):
    s += vec1[i] * vec2[i]

In [268]:
s = 0
for i, x in enumerate(vec1):
    s += x * vec2[i]

In [269]:
s = 0

In [270]:
for x in vec1:
    i = vec1.index(x)
    s += vec1[i] * vec2[i]

In [271]:
squares = []
for x in range(1, 8):
    squares.append(x*x)

In [272]:
squares

[1, 4, 9, 16, 25, 36, 49]

In [273]:
squares = [x*x for x in range(1, 8)]

In [274]:
squares

[1, 4, 9, 16, 25, 36, 49]

In [277]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for val in values:
    if val < 5:
        values.remove(val) # modify the loop list: bad idea

In [278]:
print(values)

[2, 4, 5, 6, 7, 8, 9]

In [279]:
values = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [280]:
for val in list(values):
    if val < 5:
        values.remove(val)
print(values)

[5, 6, 7, 8, 9]

In [281]:
values = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
values2 = []

In [282]:
for val in values:
    if val >= 5:
        values2.append(val)

In [283]:
values = values2

In [284]:
values = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
values2 = []

for val in values:
    if val >= 5:
        values2.append(val)

In [285]:
vales = values2

In [286]:
values = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
values = [val for val in values if val >= 5]

In [287]:
values

[5, 6, 7, 8, 9]

In [288]:
from math import factorial

In [290]:
values = [0,1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [factorial(val) for val in values if factorial(val) >= 700]

In [291]:
print(result)

[720, 5040, 40320, 362880]

In [292]:
values = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []

for val in values:
    fac = factorial(val)
    
    if fac >= 700:
        result.append(fac)

In [293]:
yearDict = {'Jan':31, 'Feb':28, 'Mar':31, 'Apr': 30,
           'May': 31, 'Jun':30, 'Jul':31, 'Aug': 31,
           'Sep':30, 'Oct':31, 'Nov': 30, 'Dec':31,}

In [294]:
total = 0

In [295]:
for month in yearDict:
    total += yearDict[month]

In [297]:
x = 1
y = 0
try:
    z = x + y
    w = x / y
    t = x * y
except ZeroDivisionError:
    print('Divided by zero')
print('program did not stop')

Divided by zero
program did not stop

In [298]:
x = 1
y = 0
try:
    w = x / y
except ZeroDivisionError as errorObj:
    print(errorObj)

division by zero

In [301]:
x = 1
y = 1
try:
    w = x / y
finally:
    print('Finished with division')

Finished with division

In [303]:
import sys

In [304]:
while True:
    sys.exit()

SystemExit:

To exit: use 'exit', 'quit', or Ctrl-D.

In [305]:
print('This never gets executed')

This never gets executed

In [306]:
import os, sys

try:
    sys.exit()
except SystemExit:
    print("Exit stopped")

Exit stopped

In [307]:
def wordCount(fileName):
    if __name__ == "__main__":
        import sys
        
        if len(sys.argv) < 2:
            print('Error: no file name specified')
            sys.exit()
        fileNames = sys.argv[1:]
        for fileName in fileNames:
            print(fileName, 'word count =', wordCount(fileName))

In [308]:
x = abs(-3.0)

In [309]:
print(x)

3.0

In [310]:
def sayHello():
    print("Hello World")

In [311]:
sayHello()

Hello World

In [312]:
def sayHello(name):
    print('Hello' + name)

In [313]:
sayHello("Saw")

HelloSaw

In [314]:
text = 'Homer'
sayHello(text)

HelloHomer

In [315]:
def calcFunc(x):
    y = 2*x*x + 4*x + 1
    return y

In [316]:
number = 7

In [317]:
result = calcFunc(number)

In [319]:
print(result)

127

In [320]:
calcFunc(5)

71

In [321]:
def calcFunc(x, y):
    z = x*x + y*y
    return z

In [322]:
result = calcFunc(1.414, 2.0)

In [323]:
print(result)

5.999396

In [324]:
def getSign(value):
    if value > 0:
        return 'Positive'
    elif value < 0:
        return 'Negative'
    return
    print('Hello world')

In [325]:
print(getSign(33.6))

Positive

In [326]:
print(getSign(-7))

Negative

In [328]:
print(getSign(0))

None

In [329]:
def calcFunc(x, y):
    w = x*x - y*y
    z = x*x + y*y
    return w, z

In [330]:
values = calcFunc(1.414, 2.0) # Grab output as a whole tuple

In [331]:
print(values)

(-2.000604, 5.999396)

In [332]:
a, b = calcFunc(1.414, 2.0) # Grab individuals values

In [333]:
print(a)

-2.000604

In [334]:
print(b)

5.999396

In [335]:
def myFunction(parameters = []):
    parameters.append(100)
    print(parameters)

In [336]:
myFunction()

[100]

In [337]:
myFunction()

[100, 100]

In [338]:
myFunction()

[100, 100, 100]

In [341]:
def myFunction(parameters = None):
    if parameters is None:
        parameters = []
    parameters.append(100)
    print(parameters)

In [342]:
myFunction()

[100]

## Python Programming for Biology (page 84 of 821)

In [351]:
def reverseComplement(sequence, isDna = True):
    #from string import maketrans
    
    if isDna:
        sequence = sequence.replace('U', 'T')
        transTable = "".maketrans('ATGC', 'TACG')
    else:
        sequence = sequence.replace('T', 'U')
        transTable = "".maketrans('AUGC', 'UACG')
        
    complement = sequence.translate(transTable)
    reverseComp = complement[::-1]
    
    return reverseComp

In [352]:
seq1 = 'GATTACA'
seq2 = "AUGGUG"

In [353]:
print(reverseComplement(seq1))

TGTAATC

In [354]:
print(reverseComplement(seq1, isDna = False))

UGUAAUC

In [355]:
print(reverseComplement(seq2, False))

CACCAU

In [356]:
def testFunc(item, *args, **kw):
    print('Mandatory argument:', item)
    print('Unnamed arguments:', args)
    print('Keyword dictionary:', kw)

In [357]:
testFunc('Hello', 1, 99, valueA = 'abc', valueB = 7.0)

Mandatory argument: Hello
Unnamed arguments: (1, 99)
Keyword dictionary: {'valueB': 7.0, 'valueA': 'abc'}

In [359]:
testFunc('Hello')

Mandatory argument: Hello
Unnamed arguments: ()
Keyword dictionary: {}

In [360]:
def myPublicFunc(item, *irrelevantArgs, **irrelevantKw):
    print('Ignorming all arguments except', item)

In [361]:
def draw(points, *args, **kw):
    #some code
    setStyle(*args, **kw)

In [363]:
def mathFunction(x, y):
    z = (x + y)*(x -y)
    return z

In [364]:
answer = mathFunction(4, 7)

In [365]:
print(answer)

-33

In [366]:
KILOS_PER_POUND = 0.45359237

In [367]:
def poundsToKilos(pounds):
    kilos = pounds * KILOS_PER_POUND
    return kilos

In [368]:
def kilosToPounds(kilos):
    pounds = kilos / KILOS_PER_POUND
    return pounds

In [369]:
counter = 0

In [370]:
def someFunction(argument):
    global counter
    counter += 1
    performOperation(argument)

In [371]:
counter = 0

## Python Programming for Biology (page 91 of 821)