In [1]:
type('Hello, World!')

str

In [2]:
type(17)

int

In [3]:
type(3.2)

float

In [4]:
type('17')

str

In [5]:
type('3.2')

str

In [6]:
message = 'and now for something completely different'

In [7]:
n = 17

In [8]:
pi = 3.1415

In [9]:
type(message)

str

In [10]:
type(n)

int

In [11]:
type(pi)

float

In [12]:
minute = 59
minute/60.0

0.9833333333333333

In [13]:
17

17

In [14]:
x = 3

In [15]:
x + 17

20

In [16]:
miles = 26.2

In [17]:
miles * 1.61

42.182

In [18]:
print(1)

1

In [19]:
x = 2

In [20]:
print(x)

2

In [21]:
5

5

In [22]:
x = 5

In [23]:
x + 1

6

In [24]:
first = 'throat'

In [25]:
second = 'warbler'

In [26]:
print(first + second)

throatwarbler

In [27]:
minute

59

In [28]:
percentage = (minute * 100) / 60

In [29]:
v = 5 # assign 5 to v

In [30]:
v = 5 # velocity in meter/seconds

In [31]:
type(32)

int

In [32]:
int('32')

32

In [33]:
int(3.99999)

3

In [34]:
int(-2.3)

-2

In [35]:
float(32)

32.0

In [36]:
float('3.14159')

3.14159

In [37]:
str(32)

'32'

In [38]:
str(3.14159)

'3.14159'

In [39]:
import math

In [40]:
print(math)

<module 'math' from '//anaconda/lib/python3.5/lib-dynload/math.cpython-35m-darwin.so'>

In [41]:
radians = 0.7

In [42]:
height = math.sin(radians)

In [43]:
degrees = 45

In [44]:
radians = degrees / 360.0 * 2 * math.pi

In [45]:
math.sin(radians)

0.7071067811865475

In [46]:
math.sqrt(2) / 2.0

0.7071067811865476

In [47]:
x = math.sin(degrees / 360.0 * 2 * math.pi)

In [48]:
x

0.7071067811865475

In [49]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

In [50]:
print(print_lyrics)

<function print_lyrics at 0x104353f28>

In [51]:
type(print_lyrics)

function

In [52]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [53]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

In [54]:
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [55]:
def print_twice(bruce):
    print(bruce)
    print(bruce)

In [56]:
print_twice('Spam')

Spam
Spam

In [57]:
print_twice(17)

17
17

In [58]:
print_twice(math.pi)

3.141592653589793
3.141592653589793

In [59]:
print_twice('Spam '*4)

Spam Spam Spam Spam
Spam Spam Spam Spam

In [60]:
print_twice(math.cos(math.pi))

-1.0
-1.0

In [61]:
michael = 'Eric, the half a bee.'

In [62]:
print_twice(michael)

Eric, the half a bee.
Eric, the half a bee.

In [63]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print_twice(cat)

In [64]:
line1 = 'Bing tiddle'
line2 = 'tiddle bang.'

In [65]:
cat_twice(line1, line2)

Bing tiddletiddle bang.
Bing tiddletiddle bang.

In [66]:
radians

0.7853981633974483

In [67]:
x = math.cos(radians)

In [68]:
golden = (math.sqrt(5) + 1) / 2

In [69]:
import math

In [70]:
print(math)

<module 'math' from '//anaconda/lib/python3.5/lib-dynload/math.cpython-35m-darwin.so'>

In [71]:
print(math.pi)

3.141592653589793

In [72]:
from math import pi

In [73]:
print(pi)

3.141592653589793

In [74]:
from math import *

In [75]:
cos(pi)

-1.0

In [76]:
import tkinter

In [77]:
import swampy

In [78]:
quotient = 7 / 3

In [79]:
print(quotient)

2.3333333333333335

In [80]:
remainder = 7 % 3

In [81]:
print(remainder)

1

In [82]:
5 == 5

True

In [83]:
5 == 6

False

In [84]:
type(True)

bool

In [85]:
type(False)

bool

In [86]:
17 and True

True

In [87]:
x

0.7071067811865476

In [88]:
if x > 0:
    print('x is positive')

x is positive

In [89]:
if x%2 == 0:
    print('x is even')
else:
    print('x is odd')

x is odd

In [90]:
y = 3
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is less than y

In [91]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x is less than y

In [92]:
if 0 < x:
    if x < 10:
        print('x is a positive single-digits number')

x is a positive single-digits number

In [93]:
if 0 < x and x < 10:
    print('x is a positive single-digit number')

x is a positive single-digit number

In [94]:
def countdown(n):
    if n <= 0:
        print('Blassoff!')
    else:
        print(n)
        countdown(n-1)

In [95]:
countdown(10)

10
9
8
7
6
5
4
3
2
1
Blassoff!

In [96]:
def print_n(s, n):
    if n <= 0:
        return
    print(s)
    print_n(s, n-1)

In [97]:
import math
signal_power = 9
noise_power = 10
ratio = signal_power / noise_power
decibels = 10 * math.log10(ratio)
print(decibels)

-0.4575749056067512

In [98]:
e = math.exp(1.0)

In [99]:
def area(radius):
    temp = math.pi * radius**2
    return(temp)

In [100]:
def area(radius):
    return(math.pi * radius**2)

In [101]:
def absolue_value(x):
    if x < 0:
        return(-x)
    else:
        return(x)

In [102]:
def absolute_value(x):
    if x < 0:
        return(-x)
    if x > 0:
        return(x)

In [103]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx**2 + dy**2
    result = math.sqrt(dsquared)
    return(result)

In [104]:
def circle_are(xc, yc, xp, yp):
    radius = distance(xc, yc, zp , yp)
    result = area(radius)
    return(result)

In [105]:
def circle_area(cx, yc, xp, yp):
    return(area(distnace(xc, yc, xp, yp)))

In [106]:
def is_divisible(x, y):
    if x % y == 0:
        return(True)
    else:
        return(False)

In [107]:
is_divisible(6, 4)

False

In [108]:
is_divisible(6, 3)

True

In [109]:
def factorial(n):
    if n == 0:
        return(1)
    else:
        recurse = factorial(n - 1)
        result = n * recurse
        return(result)

In [110]:
def fibonacci(n):
    if n == 0:
        return(0)
    elif n == 1:
        return(1)
    else:
        return(fibonacci(n-1) + fibonacci(n-2))

In [111]:
def factorial(n):
    if not isinstance(n, int):
        print('Factorial is only defined for integers.')
        return(None)
    elif n < 0:
        print('Factorial is not defined for negative integers.')
        return(None)
    elif n == 0:
        return(1)
    else:
        return(n * factorial(n -1))

In [112]:
factorial('fred')

Factorial is only defined for integers.

In [113]:
factorial(-2)

Factorial is not defined for negative integers.

In [114]:
x = 0

In [115]:
x = x + 1

In [116]:
def countdown(n):
    while n > 0:
        print(n)
        n = n - 1
    print('Blastoff!')

In [117]:
countdown(3)

3
2
1
Blastoff!

In [118]:
def sequence(n):
    while n != 1:
        print(n)
        if n%2 == 0:
            n = n/2
        else:
            n = n*3+1

In [119]:
a = 4.0
x = 3.0
y = (x + a/x) / 2
print(y)

2.1666666666666665

In [120]:
x = y

In [121]:
y = (x + a/x) / 2
print(y)

2.0064102564102564

In [122]:
x = y
y = (x + a/x) / 2
print(y)

2.0000102400262145

In [123]:
x = y
y = (x + a/x) / 2
print(y)

2.0000000000262146

In [124]:
x = y
y = (x + a/x) / 2
print(y)

2.0

In [125]:
fruit = 'banana'
letter = fruit[1]

In [126]:
print(letter)

a

In [127]:
letter = fruit[0]
print(letter)

b

In [128]:
fruit = 'banana'
len(fruit)

6

In [129]:
length = len(fruit)

In [130]:
last = fruit[length -1]

In [131]:
print(last)

a

In [132]:
index = 0

In [133]:
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [134]:
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return(index)
        index = index + 1
    return(-1)

In [135]:
word = 'banana'
count = 0

In [136]:
for letter in word:
    if letter == 'a':
        count = count + 1
        print(count)

1
2
3

In [137]:
word = 'banana'
new_word = word.upper()
print(new_word)

BANANA

In [138]:
word = 'banana'
index = word.find('a')
print(index)

1

In [139]:
word.find('na')

2

In [140]:
word.find('na', 3)

4

In [141]:
name = 'bob'
name.find('b', 1, 2)

-1

In [142]:
'a' in 'banana'

True

In [143]:
'seed' in 'banana'

False

In [144]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)

In [145]:
in_both('apples', 'oranges')

a
e
s

In [146]:
word

'banana'

In [147]:
if word == 'banana':
    print('All right, bananas.')

All right, bananas.

In [148]:
word = 'Pineapple'
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,', word + ', comes after banana.')
else:
    print('All right, banana')

Your word,Pineapple, comes before banana.

In [149]:
[10, 20, 30, 40]

[10, 20, 30, 40]

In [150]:
['cruncy frog', 'ram bladder', 'lark vomit']

['cruncy frog', 'ram bladder', 'lark vomit']

In [151]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

In [152]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]

In [153]:
empty = []

In [154]:
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

In [155]:
print(cheeses[0])

Cheddar

In [156]:
numbers = [17, 123]
numbers[1] = 5

In [157]:
print(numbers)

[17, 5]

In [158]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [159]:
'Edam' in cheeses

True

In [160]:
'Brie' in cheeses

False

In [161]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [162]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b

In [163]:
print(c)

[1, 2, 3, 4, 5, 6]

In [164]:
[0] * 4

[0, 0, 0, 0]

In [165]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [166]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [167]:
t[1:3]

['b', 'c']

In [168]:
t[:4]

['a', 'b', 'c', 'd']

In [169]:
t[3:]

['d', 'e', 'f']

In [170]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [171]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [172]:
t[1:3] = ['x',  'y']

In [173]:
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

In [174]:
t[1:4]

['x', 'y', 'd']

In [175]:
range(4)

range(0, 4)

In [176]:
t = ['a', 'b', 'c']

In [177]:
t.append('d')

In [178]:
print(t)

['a', 'b', 'c', 'd']

In [179]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)

In [180]:
print(t1)

['a', 'b', 'c', 'd', 'e']

In [181]:
t

['a', 'b', 'c', 'd']

In [182]:
t = ['d', 'c', 'e', 'b', 'a']

In [183]:
t.sort()

In [184]:
print(t)

['a', 'b', 'c', 'd', 'e']

In [185]:
def add_all(t):
    total = 0
    for x in t:
        total += x
        return(total)

In [186]:
t = [1, 2, 3]

In [187]:
sum(t)

6

In [188]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return(res)

In [189]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return(res)

In [190]:
t = ['a', 'b', 'c']

In [191]:
x = t.pop(1)

In [192]:
print(x)

b

In [193]:
print(t)

['a', 'c']

In [194]:
t = ['a', 'b', 'c']
del t[1]

In [195]:
print(t)

['a', 'c']

In [196]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [197]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [198]:
del t[1:5]

In [199]:
print(t)

['a', 'f']

In [200]:
s = 'spam'

In [201]:
t = list(s)

In [202]:
print(t)

['s', 'p', 'a', 'm']

In [203]:
s = 'pining for the fjords'

In [204]:
t = s.split()

In [205]:
print(t)

['pining', 'for', 'the', 'fjords']

In [206]:
s = 'spam-spam-spam'
delimiter = '-'

In [207]:
s.split(delimiter)

['spam', 'spam', 'spam']

In [208]:
t = ['pining', 'for', 'the', 'fjords']

In [209]:
delimiter = ' '

In [210]:
delimiter.join(t)

'pining for the fjords'

In [211]:
a = 'banana'
b = 'banana'
a is b

True

In [212]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [213]:
a = b

In [214]:
a is b

True

In [215]:
b[0] = 17

In [216]:
print(a)

[17, 2, 3]

In [217]:
def delete_head(t):
    del t[0]

In [218]:
letters = ['a', 'b', 'c']

In [219]:
delete_head(letters)

In [220]:
print(letters)

['b', 'c']

In [221]:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [222]:
print(t2)

None

In [223]:
t3 = t1 + [4]

In [224]:
print(t3)

[1, 2, 3, 4]

In [225]:
def tail(t):
    return(t[1:])

In [226]:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)

['b', 'c']

In [227]:
word

'Pineapple'

In [228]:
word = word.strip()

In [229]:
word

'Pineapple'

In [230]:
eng2sp  = dict()
print(eng2sp)

{}

In [231]:
eng2sp['one'] = 'uno'

In [232]:
print(eng2sp)

{'one': 'uno'}

In [233]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [234]:
print(eng2sp)

{'three': 'tres', 'one': 'uno', 'two': 'dos'}

In [235]:
print(eng2sp['two'])

dos

In [236]:
len(eng2sp)

3

In [237]:
'one' in eng2sp

True

In [238]:
'uno' in eng2sp

False

In [239]:
vals = eng2sp.values()

In [240]:
'uno' in vals

True

In [241]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return(d)

In [242]:
h = histogram('brontasaurus')

In [243]:
print(h)

{'b': 1, 'n': 1, 'o': 1, 'u': 2, 'r': 2, 's': 2, 't': 1, 'a': 2}

In [244]:
h = histogram('a')

In [245]:
print(h)

{'a': 1}

In [246]:
h.get('a', 0)

1

In [247]:
h.get('b', 0)

0

In [248]:
def print_hist(h):
    for c in h:
        print(c, h[c])

In [249]:
h = histogram('parrot')

In [250]:
print_hist(h)

p 1
r 2
t 1
o 1
a 1

In [251]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return(k)
    raise(ValueError)

In [252]:
h = histogram('parrot')
k = reverse_lookup(h, 2)

In [253]:
print(k)

r

### Think Python (page 146 of 298)

In [254]:
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse

In [255]:
hist = histogram('parrot')

In [256]:
print(hist)

{'p': 1, 'r': 2, 't': 1, 'o': 1, 'a': 1}
{'p': 1, 'r': 2, 't': 1, 'o': 1, 'a': 1}

In [258]:
inverse = invert_dict(hist)
print(inverse)

{1: ['p', 't', 'o', 'a'], 2: ['r']}
{1: ['p', 't', 'o', 'a'], 2: ['r']}

In [260]:
t = [1, 2, 3]
d = dict()

In [269]:
known = {0:0, 1:1}
def fibonacci(n):
    if n in known:
        return known[n]
    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return(res)

In [262]:
verbose = True
def example1():
    if verbose:
        print("Running example1")

In [263]:
been_called = False

def example2():
    been_called = True # wrong

In [265]:
been_called = False
def example2():
    global been_called
    been_called = True

In [266]:
def example3():
    global count 
    count += 1

In [267]:
def example5():
    global known
    known = dict()

In [270]:
fibonacci(50)

12586269025

12586269025

In [271]:
10000 * 10000

100000000

100000000

In [272]:
t = 'a', 'b', 'c', 'd', 'e'

In [273]:
t = ('a', 'b', 'c', 'd', 'e')

In [274]:
t2 = ('a')

In [275]:
type(t2)

str

str

In [276]:
t = tuple()
print(t)

()
()

In [277]:
t = tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')
('l', 'u', 'p', 'i', 'n', 's')

In [278]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])

a
a

In [279]:
print("Hi")

Hi
Hi

In [280]:
t = ('a', 'b', 'c', 'd', 'e')

In [281]:
print(t[0])

a
a

In [282]:
print(t[1:3])

('b', 'c')
('b', 'c')

In [283]:
t = ('A',) + t[1:]

In [284]:
print(t)

('A', 'b', 'c', 'd', 'e')
('A', 'b', 'c', 'd', 'e')

In [285]:
temp = a
a = b
b = temp

In [286]:
a, b = b, a

In [287]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [288]:
print(uname)

monty
monty

In [289]:
print(domain)

python.org
python.org

In [290]:
t = divmod(7, 3)
print(t)

(2, 1)
(2, 1)

In [291]:
quot, rem = divmod(7, 3)
print(quot)
print(rem)

2
1
2
1

In [292]:
def min_max(t):
    return min(t), max(t)

In [293]:
def printall(*args):
    print(args)

In [294]:
printall(1, 2.0, '3')

(1, 2.0, '3')
(1, 2.0, '3')

In [295]:
t = (7, 3)

In [296]:
divmod(*t)

(2, 1)

(2, 1)

In [297]:
s = 'abc'
t = [0, 1, 2]
zip(a, t)

In [298]:
zip('Anne', 'Elk')

In [299]:
print(zip('Anne', 'Elk'))

<zip object at 0x10487f808>
<zip object at 0x10487f808>

In [300]:
t = [('a', 0), ('b', 1), ('c', 2)]

In [301]:
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c
0 a
1 b
2 c

In [302]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
        return False

In [303]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c
0 a
1 b
2 c

In [304]:
enumerate('abc')

In [306]:
d = {'a': 0, 'b': 1, 'c': 2}
t = d.items()
print(t)

dict_items([('b', 1), ('c', 2), ('a', 0)])
dict_items([('b', 1), ('c', 2), ('a', 0)])

In [307]:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t)
print(d)

{'c': 2, 'b': 1, 'a': 0}
{'c': 2, 'b': 1, 'a': 0}

In [308]:
d = dict(zip('abc', range(3)))

In [309]:
print(d)

{'b': 1, 'c': 2, 'a': 0}
{'b': 1, 'c': 2, 'a': 0}

In [311]:
for key, val in d.items():
    print(val, key)

1 b
2 c
0 a
1 b
2 c
0 a

In [312]:
(0, 1, 2) < (0, 3, 4)

True

True

In [313]:
(0, 1, 200000) < (0, 3, 4)

True

True

In [314]:
def sort_by_length(words):
    t = []
    for word in words:
        t.append((len(word), word))
        
    t.sort(reverse = True)
    
    res = []
    for length, word in t:
        res.append(word)
    return res

In [315]:
import requests

r = requests.get('http://www.greenteapress.com/thinkpython/code/structshape.pyt')

In [317]:
r is None

False

False

In [318]:
r.content

b'<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL /thinkpython/code/structshape.pyt was not found on this server.</p>\n<p>Additionally, a 404 Not Found\nerror was encountered while trying to use an ErrorDocument to handle the request.</p>\n</body></html>\n'

b'<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL /thinkpython/code/structshape.pyt was not found on this server.</p>\n<p>Additionally, a 404 Not Found\nerror was encountered while trying to use an ErrorDocument to handle the request.</p>\n</body></html>\n'

In [319]:
"""
This module provides one function, structshape(), which takes
an object of any type and returns a string that summarizes the
"shape" of the data structure; that is, the type, size and
composition.

This module is part of Swampy, a suite of programs available from
allendowney.com/swampy.

Copyright 2012 Allen B. Downey
Distributed under the GNU General Public License at gnu.org/licenses/gpl.html.

"""

from __future__ import print_function

def structshape(ds, pending=None):
    """Returns a string that describes the shape of a data structure.

    ds: any Python object

    Returns: string
    """
    if pending is None:
        pending = set()

    if id(ds) in pending:
        return 'infinity'

    pending = pending | set([id(ds)])

    typename = type(ds).__name__

    # handle sequences
    sequence = (list, tuple, set, frozenset, type(iter('')))
    if isinstance(ds, sequence):
        t = []
        for i, x in enumerate(ds):
            t.append(structshape(x, pending))
        rep = '%s of %s' % (typename, listrep(t))
        return rep

    # handle dictionaries
    elif isinstance(ds, dict):
        keys = set()
        vals = set()
        for k, v in ds.items():
            keys.add(structshape(k, pending))
            vals.add(structshape(v, pending))
        rep = '%s of %d %s->%s' % (typename, len(ds), 
                                   setrep(keys), setrep(vals))
        return rep

    # handle other types
    else:
        if hasattr(ds, '__class__'):
            return ds.__class__.__name__
        else:
            return typename


def listrep(t):
    """Returns a string representation of a list of type strings.

    t: list of strings

    Returns: string
    """
    if len(t) == 0:
        return 'empty'

    current = t[0]
    count = 0
    res = []
    for x in t:
        if x == current:
            count += 1
        else:
            append(res, current, count)
            current = x
            count = 1
    append(res, current, count)
    return setrep(res)


def setrep(s):
    """Returns a string representation of a set of type strings.

    s: set of strings

    Returns: string
    """
    rep = ', '.join(s)
    if len(s) == 1:
        return rep
    else:
        return '(' + rep + ')'
    return 


def append(res, typestr, count):
    """Adds a new element to a list of type strings.

    Modifies res.

    res: list of type strings
    typestr: the new type string
    count: how many of the new type there are

    Returns: None
    """
    if count == 1:
        rep = typestr
    else:
        rep = '%d %s' % (count, typestr)
    res.append(rep)


if __name__ == '__main__':
    t = []
    print(structshape(t))

    t = [1,2,3]
    print(structshape(t))

    t2 = [[1,2], [3,4], [5,6]]
    print(structshape(t2))

    t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
    print(structshape(t3))

    class Point:
        """trivial object type"""

    t4 = [Point(), Point()]
    print(structshape(t4))

    s = set('abc')
    print(structshape(s))

    lt = zip(t, s)
    print(structshape(lt))

    d = dict(lt)        
    print(structshape(d))

    it = iter('abc')
    print(structshape(it))

    t = []
    t.append(t)
    print(structshape(t))

list of empty
list of 3 int
list of 3 list of 2 int
list of (3 int, float, 2 str, 2 list of int, int)
list of 2 Point
set of 3 str
zip
dict of 3 int->str
str_iterator of 3 str
list of infinity
list of empty
list of 3 int
list of 3 list of 2 int
list of (3 int, float, 2 str, 2 list of int, int)
list of 2 Point
set of 3 str
zip
dict of 3 int->str
str_iterator of 3 str
list of infinity

In [320]:
t = [1, 2, 3]
print(structshape(t))

list of 3 int
list of 3 int

In [321]:
t2 = [[1, 2], [3, 4], [5, 6]]

In [322]:
print(structshape(t2))

list of 3 list of 2 int
list of 3 list of 2 int

In [323]:
t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
print(structshape(t3))

list of (3 int, float, 2 str, 2 list of int, int)
list of (3 int, float, 2 str, 2 list of int, int)

In [324]:
s = 'abc'
lt = zip(t, s)
print(structshape(lt))

zip
zip

In [325]:
d = dict(lt)
print(structshape(d))

dict of 3 int->str
dict of 3 int->str

In [326]:
import string

In [327]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [328]:
import random
for i in range(10):
    x = random.random()
    print(x)

0.06390038476055515
0.21221531058164178
0.3206632484191143
0.8161838415163419
0.6836145413256114
0.31427109067932923
0.6784809341037504
0.5918512128931238
0.1921196859140194
0.9100642536709163
0.06390038476055515
0.21221531058164178
0.3206632484191143
0.8161838415163419
0.6836145413256114
0.31427109067932923
0.6784809341037504
0.5918512128931238
0.1921196859140194
0.9100642536709163

In [330]:
random.randint(5, 10)

7

7

In [331]:
random.randint(5, 10)

8

8

In [332]:
t = [1, 2, 3]
random.choice(t)

2

2

In [333]:
t = [1, 2, 3]
random.choice(t)

2

2

In [335]:
t = ['a', 'a', 'b']
hist = histogram(t)
print(hist)

{'b': 1, 'a': 2}
{'b': 1, 'a': 2}

In [336]:
import string

In [350]:
def process_file(filename):
    hist = dict()
    fp = open(filename)
    for line in fp:
        process_line(line, hist)
    return(hist)

In [351]:
def process_line(line, hist):
    line = line.replace('-', ' ')
    
    for word in line.split():
        word = word.strip(string.punctuation + string.whitespace)
        word = word.lower()
        
        hist[word] = hist.get(word, 0) + 1

In [352]:
from urllib import request
#import urllib.request
...
# Download the file from `url` and s
url = "http://www.greenteapress.com/thinkpython/code/emma.txt"
file_name = "emma.txt"
request.urlretrieve(url, file_name)

('emma.txt', <http.client.HTTPMessage at 0x106d22128>)

('emma.txt', <http.client.HTTPMessage at 0x106d22128>)

In [353]:
hist = process_file('emma.txt')
def total_words(hist):
    return(sum(hist.values()))

In [354]:
def different_words(hist):
    return(len(hist))

In [355]:
print("Total number of words", total_words(hist))

Total number of words 162742
Total number of words 162742

In [356]:
print('Number of different words:', different_words(hist))

Number of different words: 7460
Number of different words: 7460

In [357]:
def most_common(hist):
    t = []
    for key, value in hist.items():
        t.append((value, key))
    t.sort(reverse = True)
    return(t)

In [358]:
t = most_common(hist)
print('The most common words are:')
for freq, word in t[0:10]:
    print(word, '\t', freq)

The most common words are:
to 	 5295
the 	 5266
and 	 4931
of 	 4339
i 	 3191
a 	 3155
it 	 2546
her 	 2483
was 	 2400
she 	 2364
The most common words are:
to 	 5295
the 	 5266
and 	 4931
of 	 4339
i 	 3191
a 	 3155
it 	 2546
her 	 2483
was 	 2400
she 	 2364

In [359]:
def print_most_common(hist, num = 10):
    t = most_common(hist)
    print('The most common words are:')
    for freq, word in t[:num]:
        print(word, '\t', freq)

In [360]:
print_most_common(hist)

The most common words are:
to 	 5295
the 	 5266
and 	 4931
of 	 4339
i 	 3191
a 	 3155
it 	 2546
her 	 2483
was 	 2400
she 	 2364
The most common words are:
to 	 5295
the 	 5266
and 	 4931
of 	 4339
i 	 3191
a 	 3155
it 	 2546
her 	 2483
was 	 2400
she 	 2364

In [361]:
print_most_common(hist, 20)

The most common words are:
to 	 5295
the 	 5266
and 	 4931
of 	 4339
i 	 3191
a 	 3155
it 	 2546
her 	 2483
was 	 2400
she 	 2364
in 	 2199
not 	 2161
you 	 2053
be 	 1987
he 	 1811
that 	 1809
had 	 1626
but 	 1446
as 	 1443
for 	 1371
The most common words are:
to 	 5295
the 	 5266
and 	 4931
of 	 4339
i 	 3191
a 	 3155
it 	 2546
her 	 2483
was 	 2400
she 	 2364
in 	 2199
not 	 2161
you 	 2053
be 	 1987
he 	 1811
that 	 1809
had 	 1626
but 	 1446
as 	 1443
for 	 1371

In [362]:
def subtract(d1, d2):
    res = dict()
    for key in d1:
        if key not in d2:
            res[key] = None
    return(res)

In [363]:
def random_word(h):
    t = []
    for word, freq in h.items():
        t.extend([word] * freq)
        
    return(random.choice(t))

In [365]:
class Point(object):
    """Represents a point in 2-D space."""

In [366]:
print(Point)

<class '__main__.Point'>
<class '__main__.Point'>

In [367]:
blank = Point()

In [368]:
print(blank)

<__main__.Point object at 0x1053f7e80>
<__main__.Point object at 0x1053f7e80>

In [369]:
blank.x = 3.0
blank.y = 4.0

In [370]:
print(blank.x)

3.0
3.0

In [371]:
print(blank.y)

4.0
4.0

In [374]:
def print_point(p):
    print('(%g, %g)' % (p.x, p.y))

In [375]:
print_point(blank)

(3, 4)
(3, 4)

In [377]:
class Rectangle(object):
    """Represent a rectangel.
    attributes: width, height, corner."""

In [380]:
box = Rectangle()
box.width = 100.00
box.height = 200.00
box.corner = Point()
box.corner.x = 0.0
box.corner.y = 0.0

In [382]:
def find_center(rect):
    p = Point()
    p.x = rect.corner.x + rect.width/2.0
    p.y = rect.corner.y + rect.height/2.0
    return(p)

In [383]:
center = find_center(box)

In [384]:
print_point(center)

(50, 100)
(50, 100)

In [386]:
box.width = box.width + 50
box.height = box.width + 100

In [387]:
def grow_rectangle(rect, dwidth, dheight):
    rect.width += dwidth
    rect.height += dheight

In [388]:
print(box.width)

150.0
150.0

In [389]:
print(box.height)

250.0
250.0

In [390]:
grow_rectangle(box, 50, 100)

In [392]:
print(box.width)

200.0
200.0

In [393]:
print(box.height)

350.0
350.0

In [394]:
p1 = Point()
p1.x = 3.0
p1.y = 4.0

In [395]:
import copy
p2 = copy.copy(p1)

In [396]:
print_point(p1)

(3, 4)
(3, 4)

In [397]:
print_point(p2)

(3, 4)
(3, 4)

In [398]:
p1 is p2

False

False

In [399]:
p1 == p2

False

False

## Thnk Python (page 196 of 298)