In [1]:
type('Hello, World!')

str

In [2]:
type(17)

int

In [3]:
type(3.2)

float

In [4]:
type('17')

str

In [5]:
type('3.2')

str

In [6]:
message = 'and now for something completely different'

In [7]:
n = 17

In [8]:
pi = 3.1415

In [9]:
type(message)

str

In [10]:
type(n)

int

In [11]:
type(pi)

float

In [12]:
minute = 59
minute/60.0

0.9833333333333333

In [13]:
17

17

In [14]:
x = 3

In [15]:
x + 17

20

In [16]:
miles = 26.2

In [17]:
miles * 1.61

42.182

In [18]:
print(1)

1

In [19]:
x = 2

In [20]:
print(x)

2

In [21]:
5

5

In [22]:
x = 5

In [23]:
x + 1

6

In [24]:
first = 'throat'

In [25]:
second = 'warbler'

In [26]:
print(first + second)

throatwarbler

In [27]:
minute

59

In [28]:
percentage = (minute * 100) / 60

In [29]:
v = 5 # assign 5 to v

In [30]:
v = 5 # velocity in meter/seconds

In [31]:
type(32)

int

In [32]:
int('32')

32

In [33]:
int(3.99999)

3

In [34]:
int(-2.3)

-2

In [35]:
float(32)

32.0

In [36]:
float('3.14159')

3.14159

In [37]:
str(32)

'32'

In [38]:
str(3.14159)

'3.14159'

In [39]:
import math

In [40]:
print(math)

<module 'math' from '//anaconda/lib/python3.5/lib-dynload/math.cpython-35m-darwin.so'>

In [41]:
radians = 0.7

In [42]:
height = math.sin(radians)

In [43]:
degrees = 45

In [44]:
radians = degrees / 360.0 * 2 * math.pi

In [45]:
math.sin(radians)

0.7071067811865475

In [46]:
math.sqrt(2) / 2.0

0.7071067811865476

In [47]:
x = math.sin(degrees / 360.0 * 2 * math.pi)

In [48]:
x

0.7071067811865475

In [49]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

In [50]:
print(print_lyrics)

<function print_lyrics at 0x1044a70d0>

In [51]:
type(print_lyrics)

function

In [52]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [53]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

In [54]:
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [55]:
def print_twice(bruce):
    print(bruce)
    print(bruce)

In [56]:
print_twice('Spam')

Spam
Spam

In [57]:
print_twice(17)

17
17

In [58]:
print_twice(math.pi)

3.141592653589793
3.141592653589793

In [59]:
print_twice('Spam '*4)

Spam Spam Spam Spam
Spam Spam Spam Spam

In [60]:
print_twice(math.cos(math.pi))

-1.0
-1.0

In [61]:
michael = 'Eric, the half a bee.'

In [62]:
print_twice(michael)

Eric, the half a bee.
Eric, the half a bee.

In [63]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print_twice(cat)

In [64]:
line1 = 'Bing tiddle'
line2 = 'tiddle bang.'

In [65]:
cat_twice(line1, line2)

Bing tiddletiddle bang.
Bing tiddletiddle bang.

In [66]:
radians

0.7853981633974483

In [67]:
x = math.cos(radians)

In [68]:
golden = (math.sqrt(5) + 1) / 2

In [69]:
import math

In [70]:
print(math)

<module 'math' from '//anaconda/lib/python3.5/lib-dynload/math.cpython-35m-darwin.so'>

In [71]:
print(math.pi)

3.141592653589793

In [72]:
from math import pi

In [73]:
print(pi)

3.141592653589793

In [74]:
from math import *

In [75]:
cos(pi)

-1.0

In [76]:
import tkinter

In [77]:
import swampy

In [78]:
quotient = 7 / 3

In [79]:
print(quotient)

2.3333333333333335

In [80]:
remainder = 7 % 3

In [81]:
print(remainder)

1

In [82]:
5 == 5

True

In [83]:
5 == 6

False

In [84]:
type(True)

bool

In [85]:
type(False)

bool

In [86]:
17 and True

True

In [87]:
x

0.7071067811865476

In [88]:
if x > 0:
    print('x is positive')

x is positive

In [89]:
if x%2 == 0:
    print('x is even')
else:
    print('x is odd')

x is odd

In [90]:
y = 3
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is less than y

In [91]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x is less than y

In [92]:
if 0 < x:
    if x < 10:
        print('x is a positive single-digits number')

x is a positive single-digits number

In [93]:
if 0 < x and x < 10:
    print('x is a positive single-digit number')

x is a positive single-digit number

In [94]:
def countdown(n):
    if n <= 0:
        print('Blassoff!')
    else:
        print(n)
        countdown(n-1)

In [95]:
countdown(10)

10
9
8
7
6
5
4
3
2
1
Blassoff!

In [96]:
def print_n(s, n):
    if n <= 0:
        return
    print(s)
    print_n(s, n-1)

In [97]:
import math
signal_power = 9
noise_power = 10
ratio = signal_power / noise_power
decibels = 10 * math.log10(ratio)
print(decibels)

-0.4575749056067512

In [98]:
e = math.exp(1.0)

In [104]:
def area(radius):
    temp = math.pi * radius**2
    return(temp)

In [105]:
def area(radius):
    return(math.pi * radius**2)

In [106]:
def absolue_value(x):
    if x < 0:
        return(-x)
    else:
        return(x)

In [107]:
def absolute_value(x):
    if x < 0:
        return(-x)
    if x > 0:
        return(x)

In [108]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx**2 + dy**2
    result = math.sqrt(dsquared)
    return(result)

In [109]:
def circle_are(xc, yc, xp, yp):
    radius = distance(xc, yc, zp , yp)
    result = area(radius)
    return(result)

In [110]:
def circle_area(cx, yc, xp, yp):
    return(area(distnace(xc, yc, xp, yp)))

In [111]:
def is_divisible(x, y):
    if x % y == 0:
        return(True)
    else:
        return(False)

In [112]:
is_divisible(6, 4)

False

In [113]:
is_divisible(6, 3)

True

In [114]:
def factorial(n):
    if n == 0:
        return(1)
    else:
        recurse = factorial(n - 1)
        result = n * recurse
        return(result)

In [115]:
def fibonacci(n):
    if n == 0:
        return(0)
    elif n == 1:
        return(1)
    else:
        return(fibonacci(n-1) + fibonacci(n-2))

In [116]:
def factorial(n):
    if not isinstance(n, int):
        print('Factorial is only defined for integers.')
        return(None)
    elif n < 0:
        print('Factorial is not defined for negative integers.')
        return(None)
    elif n == 0:
        return(1)
    else:
        return(n * factorial(n -1))

In [117]:
factorial('fred')

Factorial is only defined for integers.

In [118]:
factorial(-2)

Factorial is not defined for negative integers.

In [119]:
x = 0

In [120]:
x = x + 1

In [121]:
def countdown(n):
    while n > 0:
        print(n)
        n = n - 1
    print('Blastoff!')

In [122]:
countdown(3)

3
2
1
Blastoff!

In [123]:
def sequence(n):
    while n != 1:
        print(n)
        if n%2 == 0:
            n = n/2
        else:
            n = n*3+1

In [124]:
a = 4.0
x = 3.0
y = (x + a/x) / 2
print(y)

2.1666666666666665

In [125]:
x = y

In [126]:
y = (x + a/x) / 2
print(y)

2.0064102564102564

In [127]:
x = y
y = (x + a/x) / 2
print(y)

2.0000102400262145

In [128]:
x = y
y = (x + a/x) / 2
print(y)

2.0000000000262146

In [129]:
x = y
y = (x + a/x) / 2
print(y)

2.0

In [131]:
fruit = 'banana'
letter = fruit[1]

In [132]:
print(letter)

a

In [133]:
letter = fruit[0]
print(letter)

b

In [134]:
fruit = 'banana'
len(fruit)

6

In [135]:
length = len(fruit)

In [136]:
last = fruit[length -1]

In [137]:
print(last)

a

In [138]:
index = 0

In [139]:
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [140]:
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return(index)
        index = index + 1
    return(-1)

In [144]:
word = 'banana'
count = 0

In [145]:
for letter in word:
    if letter == 'a':
        count = count + 1
        print(count)

1
2
3

In [146]:
word = 'banana'
new_word = word.upper()
print(new_word)

BANANA

In [147]:
word = 'banana'
index = word.find('a')
print(index)

1

In [148]:
word.find('na')

2

In [149]:
word.find('na', 3)

4

In [150]:
name = 'bob'
name.find('b', 1, 2)

-1

In [151]:
'a' in 'banana'

True

In [152]:
'seed' in 'banana'

False

In [153]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)

In [154]:
in_both('apples', 'oranges')

a
e
s

In [156]:
word

'banana'

In [157]:
if word == 'banana':
    print('All right, bananas.')

All right, bananas.

In [159]:
word = 'Pineapple'
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,', word + ', comes after banana.')
else:
    print('All right, banana')

Your word,Pineapple, comes before banana.

In [160]:
[10, 20, 30, 40]

[10, 20, 30, 40]

In [161]:
['cruncy frog', 'ram bladder', 'lark vomit']

['cruncy frog', 'ram bladder', 'lark vomit']

In [162]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

In [163]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]

In [164]:
empty = []

In [165]:
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

In [166]:
print(cheeses[0])

Cheddar

In [167]:
numbers = [17, 123]
numbers[1] = 5

In [168]:
print(numbers)

[17, 5]

In [169]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [170]:
'Edam' in cheeses

True

In [171]:
'Brie' in cheeses

False

In [172]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [173]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b

In [174]:
print(c)

[1, 2, 3, 4, 5, 6]

In [175]:
[0] * 4

[0, 0, 0, 0]

In [176]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [177]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [178]:
t[1:3]

['b', 'c']

In [179]:
t[:4]

['a', 'b', 'c', 'd']

In [180]:
t[3:]

['d', 'e', 'f']

In [181]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [182]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [183]:
t[1:3] = ['x',  'y']

In [184]:
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

In [186]:
t[1:4]

['x', 'y', 'd']

In [189]:
range(4)

range(0, 4)

In [190]:
t = ['a', 'b', 'c']

In [191]:
t.append('d')

In [192]:
print(t)

['a', 'b', 'c', 'd']

In [193]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)

In [194]:
print(t1)

['a', 'b', 'c', 'd', 'e']

In [195]:
t

['a', 'b', 'c', 'd']

In [196]:
t = ['d', 'c', 'e', 'b', 'a']

In [197]:
t.sort()

In [198]:
print(t)

['a', 'b', 'c', 'd', 'e']

In [199]:
def add_all(t):
    total = 0
    for x in t:
        total += x
        return(total)

In [200]:
t = [1, 2, 3]

In [201]:
sum(t)

6

In [202]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return(res)

In [203]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return(res)

In [204]:
t = ['a', 'b', 'c']

In [205]:
x = t.pop(1)

In [206]:
print(x)

b

In [207]:
print(t)

['a', 'c']

In [208]:
t = ['a', 'b', 'c']
del t[1]

In [209]:
print(t)

['a', 'c']

In [210]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [211]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [212]:
del t[1:5]

In [213]:
print(t)

['a', 'f']

In [214]:
s = 'spam'

In [215]:
t = list(s)

In [216]:
print(t)

['s', 'p', 'a', 'm']

In [217]:
s = 'pining for the fjords'

In [218]:
t = s.split()

In [219]:
print(t)

['pining', 'for', 'the', 'fjords']

In [220]:
s = 'spam-spam-spam'
delimiter = '-'

In [221]:
s.split(delimiter)

['spam', 'spam', 'spam']

In [222]:
t = ['pining', 'for', 'the', 'fjords']

In [223]:
delimiter = ' '

In [225]:
delimiter.join(t)

'pining for the fjords'

In [226]:
a = 'banana'
b = 'banana'
a is b

True

In [227]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [228]:
a = b

In [229]:
a is b

True

In [230]:
b[0] = 17

In [231]:
print(a)

[17, 2, 3]

In [232]:
def delete_head(t):
    del t[0]

In [233]:
letters = ['a', 'b', 'c']

In [234]:
delete_head(letters)

In [235]:
print(letters)

['b', 'c']

In [236]:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [237]:
print(t2)

None

In [238]:
t3 = t1 + [4]

In [239]:
print(t3)

[1, 2, 3, 4]

In [240]:
def tail(t):
    return(t[1:])

In [241]:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)

['b', 'c']

In [242]:
word

'Pineapple'

In [243]:
word = word.strip()

In [244]:
word

'Pineapple'

In [246]:
eng2sp  = dict()
print(eng2sp)

{}

In [247]:
eng2sp['one'] = 'uno'

In [248]:
print(eng2sp)

{'one': 'uno'}

In [249]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [250]:
print(eng2sp)

{'three': 'tres', 'one': 'uno', 'two': 'dos'}

In [251]:
print(eng2sp['two'])

dos

In [252]:
len(eng2sp)

3

In [253]:
'one' in eng2sp

True

In [254]:
'uno' in eng2sp

False

In [255]:
vals = eng2sp.values()

In [256]:
'uno' in vals

True

In [259]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return(d)

In [260]:
h = histogram('brontasaurus')

In [261]:
print(h)

{'b': 1, 'n': 1, 'o': 1, 'u': 2, 'a': 2, 's': 2, 'r': 2, 't': 1}

In [262]:
h = histogram('a')

In [263]:
print(h)

{'a': 1}

In [264]:
h.get('a', 0)

1

In [265]:
h.get('b', 0)

0

In [266]:
def print_hist(h):
    for c in h:
        print(c, h[c])

In [267]:
h = histogram('parrot')

In [268]:
print_hist(h)

o 1
p 1
a 1
t 1
r 2

In [269]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return(k)
    raise(ValueError)

In [270]:
h = histogram('parrot')
k = reverse_lookup(h, 2)

In [271]:
print(k)

r

### Think Python (page 146 of 298)